# CODEOWNERS file for ApollosAI repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/frontend/ @jrmatherly
/openhands-ui/ @jrmatherly
/openhands/ @jrmatherly
/enterprise/ @jrmatherly
/evaluation/ @jrmatherly
